*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #ffffff;
}


a{
    text-decoration: none;
}

body{
    padding-top: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

header ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}

main{
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid white;
    border-radius: 10px;
}

main h1{
    padding: 10px;
}

main ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

main ul li{
    border-top:1px solid white;
    border-bottom:1px solid white;
    padding: 5px;
}